@arkeero-tech:registry=https://npm.pkg.github.com/
@arkeero-forks:registry=https://npm.pkg.github.com/
@arkmodels:registry=https://npm.pkg.github.com/
@arkmodules:registry=https://npm.pkg.github.com/
@arktypes:registry=https://npm.pkg.github.com/
@arkapis:registry=https://npm.pkg.github.com/
@arkclasses:registry=https://npm.pkg.github.com/